<header>
  <div class="container header-inner">
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/512/1055/1055646.png" alt="Logo hệ thống thi" />
    </div>
    <nav class="menu" aria-label="Thanh menu chính">
      <ul>
        <li><a routerLink="/">Trang chủ</a></li>
        <li *ngFor="let topic of topics">
          <a [routerLink]="['/examinfo', topic.id]">{{ topic.text }}</a>
        </li>
        <li><a routerLink="/lien-he">Liên hệ</a></li>
      </ul>
    </nav>
    <button (click)="goToLogin()">Đăng nhập</button>
    <button (click)="goToRegister()">Đăng ký</button>
  </div>
</header>