<nz-card style="margin-bottom: 30px">
  <div nz-row>
    <div nz-col nzSpan="24">
      <h3>Quản lý câu hỏi</h3>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="16"></div>
    <div nz-col nzSpan="8" style="display: flex">
      <input
        nz-input
        placeholder="Từ khóa tìm kiếm"
        [(ngModel)]="gridFilter.keyWord"
      />
      <button nz-button nzType="primary" (click)="search()">Tìm kiếm</button>
    </div>
  </div>
</nz-card>

<button
  nz-button
  nzType="primary"
  style="margin-bottom: 5px"
  (click)="onCreateQuestion()"
>
  Thêm mới
</button>
<nz-table
  #nzTable
  [nzData]="gridData"
  nzTableLayout="fixed"
  nzFrontPagination="false"
>
  <thead>
    <tr>
      <th nzCustomFilter>
        Tên câu hỏi
        <!-- <nz-filter-trigger
          [(nzVisible)]="visible"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu"
        >
        </nz-filter-trigger> -->
      </th>
      <th>Chủ đề</th>
      <th>Mức độ</th>
      <th>Nội dung</th>
      <th>Ngày tạo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of gridData; let i = index">
      <td>{{ i + 1 }}</td>
      <td>
        {{ data.displayName }} ({{ data.code }})
        <p
          *ngIf="data.userName"
          nz-typography
          nzCopyable
          [nzCopyText]="data.userName"
        >
          <nz-tag [nzColor]="'#108ee9'">{{ data.userName }}</nz-tag>
        </p>
      </td>
      <td>{{ data.genderText }}</td>
      <td>{{ data.dateBirth | date : "dd/MM/yyyy" }}</td>
      <td>{{ data.isLockoutText }}</td>
      <td>{{ data.address }}</td>

      <td style="text-align: center">
        <a
          href="javascript:void(0)"
          nz-tooltip
          nzTooltipTitle="Sửa"
          (click)="onEditQuestion(data.id)"
        >
          <i class="btn-action" nz-icon nzType="edit" nzTheme="outline"></i>
        </a>
        <a
          href="javascript:void(0)"
          nz-tooltip
          nzTooltipTitle="Xóa"
          (click)="onDeleteQuestion(data.id)"
        >
          <i class="btn-action" nz-icon nzType="delete" nzTheme="outline"></i>
        </a>
        <!-- <a href="javascript:void(0)" nz-tooltip nzTooltipTitle="Chi tiết">
            <i class="btn-action" nz-icon nzType="eye" nzTheme="outline"></i>
          </a> -->
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
